############################
# Frontend
############################

VITE_API_URL=http://127.0.0.1:8000/api/v1


############################
# Backend
############################

LOG_LEVEL=INFO
DEBUG=False

AUTH_TOKEN_PREFIX=dummy-token-for-

############################
# AWS
############################

AWS_REGION=ap-southeast-1

AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

AWS_DYNAMODB_TABLE_MOVIES=

AWS_DYNAMODB_TABLE_USERS=

AWS_DYNAMODB_TABLE_INTERACTIONS=

AWS_DYNAMODB_TABLE_POPULAR=

AWS_DYNAMODB_TABLE_RECOMMENDATION_CACHE=

# Recommendation cache validity window in seconds
RECOMMENDATION_CACHE_TTL_SECONDS=300

AWS_S3_BUCKET=
